body{
  margin: 0;

  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #6c7279;
  -webkit-font-smoothing:antialiased;

  background-color: #fff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
}

p{
  margin: 0 0 10px ;
}

/* Container 
***************************/

.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}


/* Button */

.btn{
  display: inline-block;
  vertical-align: top;
  padding: 14px 40px;

  border-radius: 2px;
  border: 0;
  cursor: pointer;


  font-family: 'Raleway', sans-serif;;
  font-size: 13px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  transition: background .1s linear;
}

.btn--red{

  background-color: #e84545;
}

.btn--red:hover{

  background-color: #bf1616;
}

.btn--long{
  min-width: 280px;
}


@media (max-width: 991px){

  /* Nav */
  .nav{
      display: none;
      width: 100%;
      text-align: right;
      flex-direction: column;
      background-color: #2c2f49;

      position: absolute;
      top: 100%;
      right: 0;
  }

  .nav.show{
      display: flex;
  }

  .nav__link{
      padding: 9px 15px;
  }

  /* Burger */

  .burger{
      display: block;
  }



  /* Intro */

  .intro__title{
      font-size: 40px;
  }


  /* Features */

  .features__item{
      width: 50%;
  }

  /* Team */

  .team__item{
      width: 50%;
     text-align: center;
  }

  .team__photo{
      margin-left: auto;
      margin-right: auto;
  }

  /* social */

  .social{
      justify-content: center;
  }


  /* Reviews */

  .reviews__photo{
      width: 100%;
      margin: 15px 0 40px;
      overflow: hidden;
  }

  .reviews__content{
      padding-left: 0;
      padding-bottom: 40px;
      width: 100%;
  }

  
}


@media (max-width: 767px){
  /* Intro */

  .intro{
      height: auto;
      padding-top: 130px;
      padding-bottom: 30px;
  }

  .intro__title{
      font-size: 30px;
  }

  .intro__subtitle{
      font-size: 16px;

      margin-bottom: 30px;
  }

    /* Features */
    .features{
      margin: 40px 0;
    }

    .features__item{
      width: 100%;
      padding-left: 0;
      padding-right: 0;
  }

   /* works */

   .works__item{
      height: 300px;
      width: 100%;
  }

  /* team */

  .team{
      margin: 60px 0 30px;
  }

  .team__item{
      width: 100%;
  }

  /* Reviews */

  .reviews__text{
      font-size: 25px;
  }

  /* Button */


  .btn--long{
      min-width: 260px;
  }

  /* Download */

  .download{
      margin: 50px 0;
  }

  .download__title{
      font-size: 24px;
  }

  /* footer */

  .footer__inner{
      padding: 30px 0;
  }

  .footer__block{
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 30px;
  }

  .footer__block:last-child{
      margin-bottom: 0;
  }
}

@media (max-width: 414px){
  /* Reviews */

  .reviews__img{
      right: -100px;
  }

}